* {
	margin: 0;
	padding: 0;
	background-color: #201e1e;
	color: white;
	font-family: 'Saira Condensed', sans-serif;
	font-weight: lighter;
}

.hide {
	display: none;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* home page */
.homeHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	z-index: 4;
	height: 40vh;
	width: 40vw;
}

.name {
	font-family: 'Bebas Neue', cursive;
	font-weight: bold;
	font-size: 6rem;
	margin-bottom: -20px;
}

.accent-line {
	border-bottom: 6px #0ea5e9 solid;
	border-radius: 3px;
	width: 65%;
	margin-top: 6px;
}

.icons-container {
	display: flex;
	justify-content: space-evenly;
	width: 75%;
	margin-top: 12.5px;
}

/* header section a i {
	transition: 500ms ease-in-out;
}

header section a i:hover {
	color: #0ea5e9;
} */

/* home page nav */
.homeNavLi {
	display: flex;
	justify-content: center;
	list-style: none;
	opacity: 25%;
	transition: 500ms ease-in-out;
	border-radius: 20px;
}

.homeNavLi:hover {
	background-color: #686565;
	opacity: 100%;
}

.homeNavLi h2 {
	display: flex;
	align-items: center;
	height: 7.5vh;
	font-size: 42px;
	font-weight: 900;
	color: #201e1e;
	text-decoration: none;
	background: transparent;
}

#ABOUT {
	z-index: 3;
	height: 55vh;
	width: 55vw;
}

#SKILLS {
	z-index: 2;
	height: 70vh;
	width: 70vw;
}

#PROJECTS {
	z-index: 1;
	height: 85vh;
	width: 85vw;
}

#CONTACT {
	height: 100vh;
	width: 100vw;
}

/* pages and mobile nav */
.nav {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.menuBtn {
	font-size: 42px;
	font-weight: 900;
	margin-top: 20px;
	border: none;
	color: #686565;
	opacity: 50%;
	transition: 500ms ease-in-out;
}

.menuBtn:hover {
	color: #686565;
	opacity: 100%;
	transform: translateY(-5px)
}

.nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 75vh;
}

.nav ul a {
	text-decoration: none;
	list-style: none;
	margin: 15px;
	opacity: 75%;
}

/* about page */
.about {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
	width: 60vw;
}

.about img {
	border-radius: 1000px;
	margin-right: 20px;
	width: 25%;
}

.about p {
	font-size: 20px;
	width: 75%;
	text-align: justify;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./assets/font/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'Saira Condensed';
  src: url('./assets/font/SairaCondensed-Light.ttf');
}