* {
	margin: 0;
	padding: 0;
	background-color: #201e1e;
	color: white;
	font-family: 'Saira Condensed', sans-serif;
	font-weight: lighter;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 4;
	height: 40vh;
	width: 40vw;
}

.name {
	font-family: 'Bebas Neue', cursive;
	font-weight: bold;
	font-size: 6rem;
	margin-bottom: -20px;
}

.accent-line {
	border-bottom: 6px #0ea5e9 solid;
	border-radius: 3px;
	width: 65%;
	margin-top: 6px;
}

.icons-container {
	display: flex;
	justify-content: space-evenly;
	width: 75%;
	margin-top: 12.5px;
}

header section a i {
	transition: 500ms ease-in-out;
}

header section a i:hover {
	color: #0ea5e9;
}

nav ul li {
	display: flex;
	justify-content: center;
	list-style: none;
	opacity: 0;
	transition: 500ms ease-in-out;
}

nav ul li:hover {
	opacity: 100%;
}

#ABOUT {
	z-index: 3;
	height: 55vh;
	width: 55vw;
}

#SKILLS {
	z-index: 2;
	height: 70vh;
	width: 70vw;
}

#PROJECTS {
	z-index: 1;
	height: 85vh;
	width: 85vw;
}

#CONTACT {
	height: 100vh;
	width: 100vw;
}

nav ul li h2 {
	display: flex;
	align-items: center;
	height: 7.5vh;
	text-decoration: none;
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border: 2px #0ea5e9 solid;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./assets/font/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'Saira Condensed';
  src: url('./assets/font/SairaCondensed-Light.ttf');
}